.buttonStyle {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .arrowStyle {
    margin-right: 10px;
  }
  
  .profileBoxStyle {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .logoutButtonStyle {
    background-color: #ff4d4f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButtonStyle {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  